#leftContainer {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    right: 200px;
    height: 100%;
}

#imageContainer {
     display: block;
     position: absolute;
     left: 0;
     top: 20px;
     width: 800px;
     height: 800px;
}

#controllerContainer {
    display: block;
    position: relative;
    top: 0px;
}

#controllerContainer input {
    float: left;
}

#controllerContainer button {
    float: left;
    margin-left: 10px;
}

#rightContainer {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#rightContainer svg {
    display: block;
    right: 0;
    top: 0;
}
